.git
.gitignore
.env
.env.*

node_modules
vendor

public/storage

storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*

.phpunit.result.cache

docker-compose.override.yml
